.blue-button{
    width: 100px;
    color: #2271d1;
    background-color: #03122f;
    border: 2px solid #2271d1;
    border-radius: 8px;
    padding: 4px 0px;
    outline-color: #6bd1ff;
    display: ruby-text;
    box-shadow: inset 0px 0px 6px;
    cursor: pointer;
}

.blue-button label{
    color: #2271d1;
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-size: 13px;
    font-weight: 700;
    cursor: pointer;
}



.white-button{
    width: 100px;
    color: #a5a5a5;
    background-color: #03122f;
    border: 2px solid white;
    border-radius: 8px;
    padding: 4px 0px;
    outline-color: #6bd1ff;
    display: ruby-text;
    box-shadow: inset 0px 0px 6px;
    cursor: pointer;
}

.white-button label{
    color: #ffffff;
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-size: 13px;
    font-weight: 700;
    cursor: pointer;
}