.delete-option{
   border-color: transparent;
    background-color: transparent;
     padding: 4px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.delete-option label{
    color: white;
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.edit-option{
    border-color: transparent;
    background-color: transparent;
    padding: 4px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.edit-option label{
    color: #ffffff;
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}