.footer{
    background-color: #030910;
    width: 100%;
    height: 100%;
    margin: 0px;

}

.footerSection{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 31px;
}

.footerSection img{
    max-width: 100px;
    background-color: transparent;
}

